.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.131296px;}
._0{width:1.702176px;}
._1{width:2.971808px;}
._3{width:4.388384px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.960000px;}
.fs3{font-size:40.320000px;}
.fs0{font-size:60.144000px;}
.fs2{font-size:67.200000px;}
.y10{bottom:2.932000px;}
.y7{bottom:2.933000px;}
.yb{bottom:2.974000px;}
.y9{bottom:2.975000px;}
.y12{bottom:2.976000px;}
.y18{bottom:3.570000px;}
.y2{bottom:4.760000px;}
.y3{bottom:20.650000px;}
.y19{bottom:21.278000px;}
.y17{bottom:86.048000px;}
.y0{bottom:124.500000px;}
.y16{bottom:125.021000px;}
.y15{bottom:138.280000px;}
.y14{bottom:150.818000px;}
.y13{bottom:177.253000px;}
.y11{bottom:189.832000px;}
.yf{bottom:204.283000px;}
.ye{bottom:216.821000px;}
.yd{bottom:230.038000px;}
.yc{bottom:243.255000px;}
.ya{bottom:255.836000px;}
.y8{bottom:269.053000px;}
.y6{bottom:282.270000px;}
.y5{bottom:299.360000px;}
.y4{bottom:326.943000px;}
.y1{bottom:357.240000px;}
.h7{height:12.580000px;}
.h9{height:13.217000px;}
.ha{height:14.408000px;}
.h2{height:19.210000px;}
.h5{height:25.698750px;}
.hb{height:28.035000px;}
.h8{height:28.940625px;}
.h3{height:41.818875px;}
.h6{height:46.725000px;}
.h1{height:118.500000px;}
.h4{height:355.800000px;}
.h0{height:396.850000px;}
.w9{width:27.583000px;}
.wa{width:49.810000px;}
.w4{width:77.987000px;}
.w6{width:120.615000px;}
.w8{width:130.815000px;}
.w5{width:149.387000px;}
.w2{width:228.012000px;}
.wb{width:349.180000px;}
.w7{width:480.590000px;}
.w1{width:481.500000px;}
.w3{width:513.600000px;}
.w0{width:595.250000px;}
.x1{left:1.785000px;}
.xc{left:11.390000px;}
.x2{left:12.580000px;}
.x9{left:13.813000px;}
.xe{left:17.382000px;}
.x0{left:20.000000px;}
.x10{left:31.195000px;}
.x7{left:37.782000px;}
.xb{left:45.603000px;}
.xd{left:48.620000px;}
.x8{left:53.423000px;}
.x11{left:67.192000px;}
.xf{left:72.590000px;}
.x4{left:98.982000px;}
.x5{left:145.818000px;}
.x3{left:184.195000px;}
.x6{left:249.007000px;}
.xa{left:370.217000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.508395pt;}
._0{width:2.269568pt;}
._1{width:3.962411pt;}
._3{width:5.851179pt;}
.fs1{font-size:49.280000pt;}
.fs3{font-size:53.760000pt;}
.fs0{font-size:80.192000pt;}
.fs2{font-size:89.600000pt;}
.y10{bottom:3.909333pt;}
.y7{bottom:3.910667pt;}
.yb{bottom:3.965333pt;}
.y9{bottom:3.966667pt;}
.y12{bottom:3.968000pt;}
.y18{bottom:4.760000pt;}
.y2{bottom:6.346667pt;}
.y3{bottom:27.533333pt;}
.y19{bottom:28.370667pt;}
.y17{bottom:114.730667pt;}
.y0{bottom:166.000000pt;}
.y16{bottom:166.694667pt;}
.y15{bottom:184.373333pt;}
.y14{bottom:201.090667pt;}
.y13{bottom:236.337333pt;}
.y11{bottom:253.109333pt;}
.yf{bottom:272.377333pt;}
.ye{bottom:289.094667pt;}
.yd{bottom:306.717333pt;}
.yc{bottom:324.340000pt;}
.ya{bottom:341.114667pt;}
.y8{bottom:358.737333pt;}
.y6{bottom:376.360000pt;}
.y5{bottom:399.146667pt;}
.y4{bottom:435.924000pt;}
.y1{bottom:476.320000pt;}
.h7{height:16.773333pt;}
.h9{height:17.622667pt;}
.ha{height:19.210667pt;}
.h2{height:25.613333pt;}
.h5{height:34.265000pt;}
.hb{height:37.380000pt;}
.h8{height:38.587500pt;}
.h3{height:55.758500pt;}
.h6{height:62.300000pt;}
.h1{height:158.000000pt;}
.h4{height:474.400000pt;}
.h0{height:529.133333pt;}
.w9{width:36.777333pt;}
.wa{width:66.413333pt;}
.w4{width:103.982667pt;}
.w6{width:160.820000pt;}
.w8{width:174.420000pt;}
.w5{width:199.182667pt;}
.w2{width:304.016000pt;}
.wb{width:465.573333pt;}
.w7{width:640.786667pt;}
.w1{width:642.000000pt;}
.w3{width:684.800000pt;}
.w0{width:793.666667pt;}
.x1{left:2.380000pt;}
.xc{left:15.186667pt;}
.x2{left:16.773333pt;}
.x9{left:18.417333pt;}
.xe{left:23.176000pt;}
.x0{left:26.666667pt;}
.x10{left:41.593333pt;}
.x7{left:50.376000pt;}
.xb{left:60.804000pt;}
.xd{left:64.826667pt;}
.x8{left:71.230667pt;}
.x11{left:89.589333pt;}
.xf{left:96.786667pt;}
.x4{left:131.976000pt;}
.x5{left:194.424000pt;}
.x3{left:245.593333pt;}
.x6{left:332.009333pt;}
.xa{left:493.622667pt;}
}
